# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore SQLite database file
data/movies.db

# Ignore environment folders
venv/
env/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Ignore temporary files
*.log
*.tmp
